<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-link"><%= link_to 'Item Index', '/items' %></li>
    <li class="nav-link"><%= link_to 'Merchant Index', '/merchants' %></li>
    <li class="nav-link"><%= link_to 'Merchant Items', "/merchants/#{@merchant.id}/items" %></li>
  </ul>
</nav>

<section class="container-fluid">
  <h1><%= @merchant.name %></h1>
    <ul class="list-group">
      <li class="list-group-item bg-light">Address: <%= @merchant.address %></li>
      <li class="list-group-item bg-light">City: <%= @merchant.city %></li>
      <li class="list-group-item bg-light">State: <%= @merchant.state %></li>
      <li class="list-group-item bg-light">Zip: <%= @merchant.zip %></li>
    </ul>

  <button class="btn"><%= link_to 'Edit', "/merchants/#{@merchant.id}/edit" %></button>
  <button class="btn"><%= button_to 'Delete', "/merchants/#{@merchant.id}", method: :delete %></button>
</section>
