<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-link"><%= link_to 'Item Index', '/items' %></li>
    <li class="nav-link"><%= link_to 'Merchant Index', '/merchants' %></li>
  </ul>
</nav>

<form class="form-group">
  <div class="form-control bg-light">
    <%= form_tag "/items/#{@item.id}", method: :patch do %>
      <%= label_tag :name %>
      <%= text_field_tag :name, @item.name %><br>

      <%= label_tag :description %>
      <%= text_field_tag :description, @item.description %><br>

      <%= label_tag :price %>
      <%= text_field_tag :price, @item.price %><br>

      <%= label_tag :image %>
      <%= text_field_tag :image, @item.image %><br>

      <%= label_tag :status %>
      <%= text_field_tag :status, @item.status %><br>

      <%= label_tag :inventory %>
      <%= text_field_tag :inventory, @item.inventory %><br>

    <button class="btn"><%= submit_tag 'Update Item' %></button>
    <% end %>
  </div>
<form>
