<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-link"><%= link_to 'Item Index', '/items' %></li>
    <li class="nav-link"><%= link_to 'Merchant Index', '/merchants' %></li>
  </ul>
</nav>

<section class="container-fluid">
  <h1><%= @item.name %></h1>
    <ul class="list-group">
      <li class="list-group-item bg-light">Price: <%= @item.price %></li>
      <li class="list-group-item bg-light">Image: <%= @item.image %></li>
      <li class="list-group-item bg-light">Description: <%= @item.description %></li>
      <li class="list-group-item bg-light">Status: <%= @item.status %></li>
      <li class="list-group-item bg-light">Inventory: <%= @item.inventory %></li>
      <li class="list-group-item bg-light">Sold by: <%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></li>
    </ul>

  <button class="btn"><%= link_to 'Edit', "/items/#{@item.id}/edit" %><section>
</section>
