  <h2><%= @item.name %></h2>
  <p><%= @item.price %></p>
  <p><%= @item.image %></p>
  <p><%= @item.description %></p>
  <p><%= @item.status %></p>
  <p><%= @item.inventory %></p>
  <p><%= @merchant.name %></p>
