<%= link_to 'Item Index', '/items' %>
<%= link_to 'Merchant Index', '/merchants' %>

<h2><%= @item.name %></h2>
  <ul style="list-style-type:none;">
    <li>Price: <%= @item.price %></li>
    <li>Image: <%= @item.image %></li>
    <li>Description: <%= @item.description %></li>
    <li>Status: <%= @item.status %></li>
    <li>Inventory: <%= @item.inventory %></li>
    <li>Sold by: <%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></li>
  </ul>

<%= link_to 'Edit', "/items/#{@item.id}/edit" %>
